
h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    margin: 0.2em;
    color: #0a376a;
}

h2 {
    font-family: 'Raleway', sans-serif;
    margin: 1em 0 0.25em;
    color: #0a376a;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
    
   
}


td {
    width: 20px;
    
}

input[type=number] {
    width: 6em;
    height: 2em;
    text-align: center;
    border-radius: 3px;
    background: #e5e9f0;

}

.button-submit{
    
    width: 100%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#sizePicker{
    font-family: 'Raleway', sans-serif;
    color: #0a376a;

}

  /* allowing canvas to be 90% of the screen */
 @media (min-width: 1200px){
.container {
    max-width: 90%;
    height: 100vh;
}}

/* making the text boxes 100% width */
#inputHeight, #inputWeight{
    width:100%;
}
.label{
    text-align: center;
    width: 100%;
}

/* vertically Center Elements */
.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .height-max{
      height: 100vh;
  }

  #design-canvas{
    
        position: absolute;
        top: 0;
        text-align:center;
        width:100%;
  }

  /* allowing canvas to be 90% of the screen */
 @media (min-width: 1200px){
    .border-right {
        border-right: solid 0.5px lightgray;
    }}

    /* styling for all center align functionality */
.text-align-center{
    text-align: center;
}

/* styling for the color picker */
#colorPicker{
    height:100px;
    width: 100%;
    
}